.App{
    position:relative;
    left:40%;
    text-align:center;
    position:relative;
align-items:center;
border:#030303;
background-color:lightblue;
width:50%;
height:400px;
padding:20px;
border-radius:10px;
box-shadow:0px 0px 10px rgba(0,0,0,0.1);
transition: background-color 0.3s ease;
}
.sign-in-button{
    background-color:#EA454C;
    color:white;
    padding:10px;
    border-color:#EA454C;
    border-radius:10px;
}